#tabuleiro {
        display: flex;
        flex-wrap: wrap;
        width: 400px; /* 4 peças por linha */
        height: 400px; /* 4 peças por linha */
    }

#tabuleiro div {
    width: 100px;
    height: 100px;
    background-size: 400px 400px; /* Tamanho total da imagem */
    cursor: pointer;
}